initialisedSetup true
changedPassword true
changedUsername true
setupSshKey true
sshKeyFile myKeyFile
configuredSshd true
sshPort 00000
configuredUfw true
configuredFail2ban true
configuredHostname true
configuredTimezone true
configuredGit true
configuredDocker true
setHostEnvVariables true