addedPiCgroupOptions true [raspberry pi only]
addedPiVideoModes true [raspberry pi only]
disabledPiLeds true [raspberry pi only]
disabledPiWifi true [raspberry pi only]
enabledPiPcieGen3 true [raspberry pi only]
setPiPowerOffOnHalt true [raspberry pi only]
updatedPiBootloader true [raspberry pi only]
updatedPiFirmware true [raspberry pi only]
initialisedSetup true
changedPassword true
changedUsername true
setupSshKey true
sshKeyFile myKeyFile
configuredSshd true
sshPort 00000
configuredUfw true
configuredFail2ban true
configuredHostname true
configuredTimezone true
configuredGit true
configuredDocker true
setHostEnvVariables true