initialisedSetup true
changedPassword true
setIpEnvVariable true
changedUsername true
setupSshKey true
sshKeyFile myKeyFile
configuredSshd true
sshPort 00000
configuredUfw true
configuredFail2ban true
configuredHostname true
configuredNtp true
configuredGit true
configuredDocker true